<!-- <div class="container">
    <input type="checkbox" name="chk" id="chk" [(ngModel)]="checked">
<div *ngIf="!checked; else elseBlock1">
    <p id="str">Line Striked</p>
</div>
<ng-template #elseBlock1>
    <h6>I am Not Striked</h6>
</ng-template>


</div> -->



                            <!-- USing Input Property -->

<!-- <input type="checkbox" name="ch1" id="ch" (input)="changelist()">
<span [ngClass]="{'striketext':chk1}">I am Striked</span> -->


                        <!-- USing Check Box -->

<!-- <input type="checkbox" name="ch1" id="ch" [(ngModel)]="checked">
<span [ngClass]="{'striketext': checked}">I am Striked</span> -->



                                <!-- Defaultly False -->

<!-- <span [ngClass]="{'striketext': 'false'}">I am Striked</span> -->


<!-- <input type="checkbox" name="" id="" [(ngModel)]="checked">
<span [ngStyle]="{'background-color' : checked ? 'red' : 'black'}">Changing</span> -->




<!-- <div *ngFor="let res of arryData;let i=index">
    <input type="checkbox" name="" id="" (input)="checkList(i)" /> -->
    <!-- <span [ngClass]="{'strike':res.selected}">{{res.data}}</span> -->
    <!-- <span [ngStyle]="{'text-decoration': res.selected ? 'line-through' : 'none'}">{{res.data}}</span> -->
    <!-- <span [ngStyle]="{'text-decoration': res.selected ? 'line-through' : 'none'}">{{res.data}}</span> -->
<!-- </div> -->
    


<!-- <div *ngFor="let dt of arryData;let i=index">
    <input type="checkbox" name="chk" id="chk" [(ngModel)]="dt" [checked]="false">
    <span [ngStyle]="{'text-decoration':dt ? 'line-through' : 'none'}">I am Text</span>
</div> -->




